 .animated-text {
     font-size: 3em;
     position: relative;
     overflow: hidden;
     color: yellow;
     /* Text color */

 }

 .animated-text::before {
         content: "";
         position: absolute;
         top: 0;
         transform: translate(-50%, -50%);
         left: 0;
         right: 0;
         bottom: 0;
         background: linear-gradient(to right, transparent, #4CAF50);
         mix-blend-mode: multiply;
         animation: slideAnimation 4s infinite linear;
         height: -webkit-fill-available;
         z-index: 0;
         width:fill-available;
 }

 @keyframes slideAnimation {
     0% {
         transform: translateX(-100%);
     }

     100% {
         transform: translateX(100%);
     }
 }